<div class="large-container center-block">
    <h1>Mis Articulos</h1>
    <%# Pasar el nombre de la coleccion, no del parcial. En este caso la variable de instancia @articles %>
    <%= render @articles %>
</div>
